body {
  font-family: "Space Mono", monospace;
  background-color: black;
}

.bg-header-dark {
  background-color: black;
}
.btn-header {
  border-radius: 0px;
  color: #00ff66;
}

.btn-header:hover {
  background-color: #003314;
  color: #00ff66;
}

.btn-showcase {
  border: 2px solid #00ff66;
  color: #00ff66;
}

.btn-showcase:hover {
  background-color: #003314;
  color: #00ff66;
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.showcase-content {
  text-align: center;
  margin-top: 50vh;
}

#about {
  background-image: url("Assets/banner.gif");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  color: #00ff66;
}

#team {
  padding-top: 20px;
  background-color: #181818;
}

#team .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 10px;
  margin-right: 2rem;
}

#team .nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  margin-right: 2rem;
}

#team a.active {
  color: rgba(0, 0, 0, 0.7) !important;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-team {
  border-radius: 0px;
  color: #00ff66;
}

.btn-team:hover {
  background-color: #003314;
  color: #00ff66;
}

#team-tab-content {
  background-color: #181818;
  margin-top: 20px;
  padding-bottom: 5px;
}

#team-tab-content .card {
  border: 0px;
}

#team-tab-content .card-body {
  padding: 0.5rem 1rem;
}

#team-tab-content .card-title {
  font-size: 10px;
  font-weight: bold;
}

#team-tab-content .card-text {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.5) !important;
  margin-bottom: 0px;
}

#team-tab-content a {
  font-size: 10px;
  color: inherit;
}

#team-tab-content a i {
  margin-right: 0.5rem;
}

#roadmap {
  background-color: black;
  text-align: center;
  vertical-align: center;
  background-image: url("Assets/matrix-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#factions-intro {
  background-image: url("Assets/factions.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center center;
}

#factions-list img {
  object-fit: fill;
  width: 100%;
}

#guardians-faction {
  color: rgb(2, 2, 129);
}

#watchers-faction {
  color: rgb(126, 3, 3);
}

#waywards-faction {
  color: #018b39;
  padding-top: 0px !important;
}

#PFP_Selector_nav .container{
  padding: 0px;
}

#PFP_Selector_nav .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 1.rem;
  margin-right: 2rem;
}

#PFP_Selector_nav .nav-link:hover {
  color: #00ff66 !important;
  border: 1px solid #00ff66;
  margin-right: 2rem;
}

#PFP_Selector_nav a.active {
  color: #00ff66 !important;
  transition: all 0.3s;
  background-color: rgba(9, 216, 43, 0.233);
  border: 1px solid transparent;
} 

#pfp-tab-content {
  margin-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 3rem;
}

#pfp-tab-content img{
  object-fit: cover;
  width: 100%;
}

#countryflag img{
  width: 100%;
}

#pfp-tab-content .col-3{
  border: 1px solid transparent;
}

#pfp-tab-content .col-3:hover{
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#pfp-tab-content .selected{
  border: 1px solid #00ff66;
}

#generate_pfp_btn{
  margin-top: 3rem;
  width: 100%;
}

#download_pfp_btn{
  margin-top: 1rem;
  width: 100%;
}